<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" />

    <!-- Font Awesome 6.7.1 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/brands.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/solid.min.css" />

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/shop_hubLaps.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/content/css/style-footer.css" asp-append-version="true" />

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>


<body>
    <footer class="footer-02">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-5">
                    <div class="row" style="justify-content:flex-start">
                        <div class="col-md-12 col-lg-8 mb-md-0 mb-4">
                            <div class="footer-logo">
                                <a href="index.html"><img src="~/img/hubLaps.svg" alt="Dell" style="max-width:100%; margin-right: 10px;"></a>
                            </div>
                            <p>hubLaps - chuyên bán lẻ sỉ laptop uy tín cả nước. Chúng ta có nhiều mẫu mã hãng nhu cầu sử dụng đáp ứng được đầy đủ yêu cầu sử dụng của quý khách. Khách được nhân viên chăm sóc tư vấn sản phẩm 24/7.</p>
                            <a href="#">Đọc thêm <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="payment-method mt-4">
                        <h5 style="color:#fff;">Phương thức thanh toán</h5>                 
                        <img src="~/img/payment.png" alt="payment" style="width: 250px; height: 100px;">
                    </div>   
                </div>

                <div class="col-md-8 col-lg-7">
                    <div class="row">
                        <div class="col-md-3 mb-md-0 mb-4 border-left">
                            <h2 class="footer-heading">Liên kết</h2>
                            <ul class="list-unstyled">
                                <li >
                                    <a href="@Url.Action("Index","Home")" class="py-1 d-block">Trang chủ</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("Contact","Home")" class="py-1 d-block">Liên hệ</a>
                                </li>
                                <li>
                                    <a href="@Url.Action("About","Home")" class="py-1 d-block">Giới thiệu</a>
                                </li>
                                <li>
                                    <a href="#" class="py-1 d-block">Bảo mật</a>
                                </li>
                                <li>
                                    <a href="#" class="py-1 d-block">Điều khoản và điều kiện</a>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="col-md-3 mb-md-0 mb-4 border-left">
                            <h2 class="footer-heading">Trợ giúp</h2>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-1 d-block">FAQs</a></li>
                                <li><a href="#" class="py-1 d-block">HD Thanh toán</a></li>
                                <li><a href="#" class="py-1 d-block">HD Mua hàng</a></li>
                                <li>
                                    <a href="@Url.Action("Create","QuangCao")" class="py-1 d-block">Liên hệ hợp tác</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 mb-md-0 mb-4 border-left">
                            <h2 class="footer-heading">Mạng xã hội</h2>
                            <ul class="list-unstyled">
                                <li><a href="https://www.facebook.com/lawyer.trinh/" class="py-1 d-flex align-items-center"><i class="fab fa-facebook-f me-2"></i>Facebook</a></li>
                                <li><a href="https://www.pinterest.com/dskhanhtrinh/" class="py-1 d-flex align-items-center"><i class="fab fa-pinterest-p me-2"></i>Pinterest</a></li>
                                <li><a href="https://www.instagram.com/lawyer.trinh/" class="py-1 d-flex align-items-center"><i class="fab fa-instagram me-2"></i>Instagram</a></li>
                                <li><a href="https://linkedin.com/in/trinhkhanhh" class="py-1 d-flex align-items-center"><i class="fab fa-linkedin me-2"></i>Linkedin</a></li>
                                <li><a href="https://github.com/trinhkhanh29" class="py-1 d-flex align-items-center"><i class="fab fa-github me-2"></i>Github</a></li>
                            </ul>
                        </div>
                        <div class="mt-4">
                            <h5 style="color: #ff5733; font-weight: bold;">ĐĂNG KÝ NHẬN TIN KHUYẾN MÃI</h5>
                            <p style="color: #555; font-size: 14px;">(*) Nhận ngay voucher 10%</p>
                            <p style="color: #555; font-size: 14px;">*Voucher sẽ được gửi sau 24h, chỉ áp dụng cho khách hàng mới</p>
                            <form action="#" method="post" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="email" class="form-control rounded-left" placeholder="Nhập email của bạn" required style="margin-right: 10px; border: 1px solid #ff5733;">
                                    <input type="text" class="form-control rounded-left" placeholder="Nhập số điện thoại" required style="margin-right: 10px; border: 1px solid #ff5733;">
                                    <input type="submit" value="Đăng ký ngay" class="form-control submit px-3" style="background-color: #ff5733; color: white; border: none;">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row partner-wrap mt-5">
                <div class="col-md-12">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Our Partner:</h3>
                        </div>
                        <div class="col-md-9">
                            <p class="partner-name mb-0">                                
                                <a href="#"><img src="~/img/dell-technologies-white.webp" alt="Dell" style="width: 40px; margin-right: 10px;"></a>
                                <a href="#"><img src="~/img/msi-logo.png" alt="msi" style="width: 80px; margin-right: 10px; filter: brightness(0) invert(1);"></a>
                                <a href="#"><img src="~/img/Acer-Logo.png" alt="vaio" style="width: 80px; margin-right: 10px; filter: brightness(0) invert(1);"></a>
                                <a href="#"><img src="~/img/hp-logo.svg" alt="hp" style="width: 60px; margin-right: 10px; filter: brightness(0) invert(1);"></a>
                                <a href="#"><img src="~/img/vaio-logo.png" alt="vaio" style="width: 80px; margin-right: 10px; filter: brightness(0) invert(1);"></a>                                  
                                <a href="#"><img src="~/img/lenovo-logo.svg" alt="vaio" style="width: 80px; margin-right: 10px; filter: brightness(0) invert(1);"></a>                                  
                                <a href="#"><img src="~/img/Microsoft_logo_(2012).svg.webp" alt="Microsoft" style="width: 90px; margin-right: 10px;"></a>
                                <a href="#"><img src="~/img/MacBook_Pro.svg" alt="MacBook" style="width: 90px; margin-right: 10px; filter: brightness(0) invert(1);"></a>
                            </p>
                        </div>
                        <div class="col text-md-right">
                            <p class="mb-0"><a href="#" class="btn-custom">See All <span class="ion-ios-arrow-round-forward"></span></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 col-lg-8">
                    <p class="copyright">
                        Copyright &copy;<span id="currentYear"></span>
                        All rights reserved | This product was created
                        <i class="ion-ios-heart" aria-hidden="true"></i> 
                        by
                        <a href="#" target="_blank">Khanh Trinh</a>
                    </p>
                </div>
                <div class="col-md-6 col-lg-4 text-md-right">
                    <p class="mb-0 list-unstyled">
                        <a class="mr-md-3" href="#">Terms</a>
                        <a class="mr-md-3" href="#">Privacy</a>
                        <a class="mr-md-3" href="#">Compliances</a>
                    </p>
                </div>
                <div class="col-md-12 d-flex justify-content-center mt-3" style="padding-bottom:20px;align-items:center;">
                    <img src="~/Content/images/Dang-ky-thong-bao-website-thuong-mai-dien-tu.png" alt="dang-ky-bo-cong-thuong" style="width: 165px;height: 30px; margin-right: 10px;">
                    <img src="~/Content/images/dmca-logo.png" alt="dang-ky-bo-cong-thuong" style="width: 105px;height: 30px;">
                    <img src="~/img/partner-4.png" alt="MoMo" style="width: 60px; height: 100%;">

                </div>

            </div>
        </div>
    </footer>
</body>
<script>
    document.getElementById("currentYear").textContent = new Date().getFullYear();
</script>
