<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - shop_hubLaps</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />

    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/shop_hubLaps.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style_search.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/shopping-cartcss.css" asp-append-version="true" />


    <!-- Google Fonts: Lexend -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

    <!-- Additional CSS Files -->
@*     <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/all.min.css">
    <link rel="stylesheet" href="~/Content/css/style.css"> *@
@*     <link href="~/Content/css/styles.css" rel="stylesheet" /> *@
@*     <link href="~/Content/css/phonerang.css" rel="stylesheet" />
    <link href="~/Areas/Administrator/Data/libraries/css/toastr.min.css" rel="stylesheet" />
    <link href="~/Areas/Administrator/Data/libraries/css/sweetalert2.min.css" rel="stylesheet" /> *@

    @* <style>
        html, body {
            height: 100%;
            font-family: 'Lexend', sans-serif; /* Ensure Lexend is the default font */
        }

        .footer {
            position: relative;
            min-height: 100px; /* Set minimum height for the footer */
            margin-top: auto; /* This pushes the footer to the bottom */
        }
        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 10px;
            z-index: 99;
            border: none;
            outline: none;
            background-color: red;
            border: 4px solid #ccc;
            color: red;
            cursor: pointer;
            border-radius: 30px;
            opacity: 0.7;
            width: 60px;
        }

            #myBtn:hover {
                background-color: #f1f1f1;
            }

        .neonText {
            color: #fff;
            text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
        }

        .neonBack {
            border-radius: 25px;
            color: #fff;
            box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca, 0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
            -webkit-animation: blink 0.7s infinite alternate;
            animation: blink 0.7s infinite alternate;
        }

        .formDiv {
            padding: 20px;
            border-radius: 25px;
            box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #04f19a, 0 0 30px #04f19a, 0 0 40px #04f19a, 0 0 50px #04f19a;
            -webkit-animation: blink 0.7s infinite alternate;
            animation: blink 0.7s infinite alternate;
        }

        .formDiv-orange {
            padding: 20px;
            border-radius: 25px;
            box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px orange, 0 0 30px orange, 0 0 40px orange, 0 0 50px orange;
            -webkit-animation: blink 0.7s infinite alternate;
            animation: blink 0.7s infinite alternate;
        }

        .formDiv-green {
            padding: 20px;
            border-radius: 25px;
            box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px green, 0 0 30px green, 0 0 40px green, 0 0 50px green;
            -webkit-animation: blink 0.7s infinite alternate;
            animation: blink 0.7s infinite alternate;
        }

        .formDiv-blue {
            padding: 20px;
            border-radius: 25px;
            box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 50px blue;
            -webkit-animation: blink 0.7s infinite alternate;
            animation: blink 0.7s infinite alternate;
        }

        .formDiv-red {
            padding: 20px;
            border-radius: 25px;
            box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 50px red;
            -webkit-animation: blink 0.7s infinite alternate;
            animation: blink 0.7s infinite alternate;
        }

        .laptopzoom {
            transition: transform .2s;
        }

            .laptopzoom:hover {
                transform: scale(1.2);
                z-index: 100;
            }


        .header__search {
            /* margin-top: 8px; */
            flex: 1;
            height: 40px;
            border-radius: 2px;
            background-color: var(--white-color);
            display: flex;
            align-items: center;
        }

        .header__search-input-wrap {
            height: 100%;
            flex: 1;
            position: relative;
            z-index: 2;
        }

        /* Search history */
        .header__search-history {
            position: absolute;
            top: calc(100% + 4px);
            left: 0;
            width: calc(100% - 16px);
            background-color: var(--white-color);
            border-radius: 3px;
            box-shadow: 0 1px 3px #666;
            display: none;
            overflow: hidden;
            z-index: 1;
        }

        .header__search-history-heading {
            margin: 6px 12px;
            font-size: 1.4rem;
            color: #999;
            font-weight: 400;
        }

        .header__search-history-list {
            padding-left: 0;
            list-style: none;
            margin-bottom: 6px 0 0;
        }

        .header__search-history-item {
            height: 38px;
            padding: 0 12px;
        }

            .header__search-history-item:last-child {
                border-bottom-left-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            .header__search-history-item:hover {
                background-color: #fafafa;
            }

            .header__search-history-item a {
                text-decoration: none;
                font-size: 1.4rem;
                color: var(--text-color);
                line-height: 38px;
                display: block;
            }

        .sticky-sidebar {
        }

            .sticky-sidebar.active {
                display: block;
            }

            .sticky-sidebar div {
                position: fixed;
                top: 195px;
                width: 89px;
                z-index: 999;
            }

        .banner {
            margin-top: 300px;
        }

        /*Căn chỉnh sidebar banner*/
        @@media screen and (max-width: 2000px) {
            .sticky-sidebar .banner-left {
                left: calc(((100vw - 1200px)/2) - 80px);
            }
        }

        @@media screen and (max-width: 2000px) {
            .sticky-sidebar .banner-right {
                right: calc(((100vw - 1200px)/2) - 90px);
            }
        }

        @@media screen and (max-width: 2200px) {
            .sticky-sidebar .banner {
                right: calc(((100vw - 1200px)/2) - 200px);
            }
        }

        @@media screen and (max-width: 1200px) {
            .sticky-sidebar div {
                width: 69px;
            }
        }

        .modal-backdrop {
            opacity: 0.3 !important;
        }
    </style> *@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="d-flex align-items-center">
                    <a href="/Home"><img style="width: 100%;max-width: 400px;height: auto;max-height:50px;" src="~/img/hubLaps.svg" class="custom-logo" alt="Logo" /></a>
                </div>





                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="display:flex;align-items:center;">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>

                        <!-- Search List Item -->
                        <li class="nav-item" style="display:flex;align-items:center;">
                            <!-- Search Icon for Small Screens -->
                            <div class="d-lg-none">
                                <button class="btn btn-link p-0" id="mobile-search-icon" data-bs-toggle="modal" data-bs-target="#searchModal" >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path fill="currentColor" d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z" />
                                    </svg>
                                </button>
                            </div>

                            <!-- Search Bar for Large Screens -->
                            <div class="col-sm-6 offset-sm-2 offset-md-0 col-lg-5 d-none d-lg-block">
                                <div class="search-bar d-flex align-items-center p-2 my-2 rounded-4">
                                    <div class="d-none d-md-block me-2">
                                        <select class="form-select border-0 bg-transparent">
                                            <option>Tất cả danh mục</option>
                                            <option>Laptop</option>
                                            <option>Máy tính để bàn</option>
                                            <option>Phụ kiện</option>
                                            <option>Phần mềm</option>
                                            <option>Thiết bị ngoại vi</option>
                                        </select>
                                    </div>
                                    <form id="search-form" class="d-flex flex-grow-1 align-items-center" method="get">
                                        <input type="text" id="search-input" class="form-control border-0 bg-transparent" placeholder="Search 20,000+ products" />
                                        <button type="submit" form="search-form" class="btn btn-link p-0 ms-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                <path fill="currentColor" d="M21.71 20.29L18 16.61A9 9 0 1 0 16.61 18l3.68 3.68a1 1 0 0 0 1.42 0a1 1 0 0 0 0-1.39ZM11 18a7 7 0 1 1 7-7a7 7 0 0 1-7 7Z" />
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <!-- Search Modal -->
                            <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="searchModalLabel">Search</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form id="modal-search-form" method="get">
                                                <input type="text" class="form-control" placeholder="Search for products" />
                                                <button type="submit" class="btn btn-primary mt-2 w-100">Search</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                      
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav ms-auto">
                                <!-- Cart Button -->
                                <li class="nav-item">
                                    <button class="btn btn-link position-relative" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCart" aria-controls="offcanvasCart">
                                        <i class="fas fa-shopping-cart"></i>
                                        <span class="badge bg-danger position-absolute top-0 end-0">2</span>
                                    </button>
                                </li>
                                <!-- Login Partial -->
                                <li class="nav-item"><partial name="_LoginPartial" /></li>
                            </ul>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <!-- Shopping Cart Offcanvas -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasCart" aria-labelledby="offcanvasCartLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasCartLabel">Your Cart</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!-- Cart content goes here -->
            <p>Your cart is empty!</p>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
        <partial name="_FooterPartial" />   
    </footer> 
    <!--Start of Tawk.to Script-->
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

  @*   <script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/script.js"></script>
    <script type="text/javascript" src="~/Content/js/scripts.js"></script>
 *@
       <!-- Toastr && SweetAlert2 -->
  @*   <script src="~/Areas/Administrator/Data/libraries/js/karma.laclac.min.js"></script>
    <script src="~/Areas/Administrator/Data/libraries/js/toastr.min.js"></script>
    <script src="~/Areas/Administrator/Data/libraries/js/sweetalert2.min.js"></script> *@

@*     <script src="https://sp.zalo.me/plugins/sdk.js"></script>
 *@

    @await RenderSectionAsync("Scripts", required: false)
    <script>
          // Handle main search form submission
        document.getElementById('search-form').onsubmit = function (e) {
            e.preventDefault();
            const query = this.querySelector('input').value;
            if (query) {
                window.location.href = `/search?query=${encodeURIComponent(query)}`;
            }
        };

        // Show modal when the search icon on small screens is clicked
        document.getElementById('mobile-search-icon').addEventListener('click', function () {
            let searchModal = new bootstrap.Modal(document.getElementById('searchModal'), {});
            searchModal.show();
        });
        document.addEventListener("DOMContentLoaded", function () {
            const cartClose = document.getElementById('cartClose');
            const cartToggle = document.getElementById('cartToggle');

            if (cartClose) {
                cartClose.addEventListener('click', function () {
                    // Your event handler code
                });
            }

            if (cartToggle) {
                cartToggle.addEventListener('click', function () {
                    // Your event handler code
                });
            }
        });

    </script>
</body>
</html>
