@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

@* <h1 style="font-family: 'Lexend', sans-serif;">Quản lý tài khoản của bạn</h1> *@

<div>
    @* <h2 style="font-family: 'Lexend', sans-serif;">Thay đổi cài đặt tài khoản của bạn</h2> *@
    @* <hr /> *@
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
