@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Xác thực hai yếu tố";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<p class="text-center"><i class="fas fa-lock"></i> Đăng nhập của bạn được bảo vệ bằng ứng dụng xác thực. Nhập mã xác thực của bạn vào bên dưới.</p>
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="ModelOnly" class="text-danger text-center" role="alert"></div>

            <!-- Mã xác thực -->
            <div class="form-floating mb-3">
                <input asp-for="Input.TwoFactorCode" class="form-control text-center" autocomplete="off" />
                <label asp-for="Input.TwoFactorCode" class="form-label"><i class="fas fa-key"></i> Mã xác thực</label>
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>

            <!-- Ghi nhớ trình duyệt -->
            <div class="form-check mb-3 text-center">
                <input asp-for="Input.RememberMachine" class="form-check-input" />
                <label asp-for="Input.RememberMachine" class="form-check-label">
                    @Html.DisplayNameFor(m => m.Input.RememberMachine)
                </label>
            </div>

            <!-- Nút đăng nhập -->
            <div>
                <button type="submit" class="w-100 btn btn-lg btn-primary"><i class="fas fa-sign-in-alt"></i> Đăng nhập</button>
            </div>
        </form>
    </div>
</div>

<p class="text-center" style="padding-top: 20px;">
    <i class="fas fa-question-circle"></i> Bạn không có quyền truy cập vào thiết bị xác thực của mình? Bạn có thể
    <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">đăng nhập bằng mã khôi phục</a>.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <!-- Font Awesome CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/js/all.min.js"></script>
}
