﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    <title> Quản lý chương trình học</title>

    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/index-dashboard.css" asp-append-version="true" />

}

<header>
    <h1>#Laptop-Sales-Management</h1>
    <p>Dev by Shop Hub Laps | shop-hublaps.com</p>
</header>

<div class="container">
    <div class="content-left">
        <iframe src="https://lottie.host/embed/ed157b50-953a-4b7c-ba25-ea323388b4ee/TZqXglfJhq.json"
                style="width: 350px; height: 350px; border: none;"
                allowfullscreen
                frameborder="0">
        </iframe>
    </div>
    <div class="content-right">
        <h2 class="title">QUẢN LÝ</br><span> BÁN HÀNG</span></h2>
        <div class="team-info">
            <div>
                <i class="fas fa-palette design"></i>
                <span>Leader: Trinh, Quoc Khanh (tTrinh)</span>
            </div>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/a076d05399.js"></script>
